.exhibition {
  background-color: #031d25;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exhibition__links {
  text-align: center;
  min-width: 400px;  
}
.exhibition__description {
  color: #fff;
  padding: 0 25px;
  display: flex;
}

.description__wrapper h4{
  color: #119680;
}


.link__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 25px 0;
}

.link__header {
  padding-top: 25px;
  font-size: 20px;
  color: #b2b6be;
}

@media (max-width: 680px) {
  .container {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .exhibition__links {
    min-width: 330px;
  }
}
