.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #313030;
  gap: 30px;
  height: 250px;
  color: #fff;
  &__text {
    text-align: center;
    &__head {
      font-weight: bold;
      font-size: 18px;
      padding-bottom: 15px;
    }
  }
}

.container {
  width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.text {
  text-align: center;
  padding-bottom: 15px;
}
.text__head {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 15px;
}
