.popUpOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.popUpContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  background-color: rgba(24, 24, 27, 0.9);
  padding: 80px 90px;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.popUpImage {
  max-width: 350px;
  height: auto;
  object-fit: cover;
  vertical-align: middle;
  display: inline-block;
}
