.draft {
  background-color: #082e30;
  height: 360px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.draft__title {
  text-align: center;
  font-size: 30px;
  font-weight: cursor;
  letter-spacing: 1px;
  color: #fafafa;
  padding-bottom: 20px;
}

.image {
  height: 250px;
  width: 170px;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
}

@media (max-width: 1239px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 925px) {
  .container {
    max-width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    max-width: 300px;
  }

  .image {
    position: relative;
    left: 50px;
  }
}
